body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2e7d32;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 8px;
  background: #2e7d32;
  color: white;
  border: none;
}

#categories button {
  border-radius: 5px;
}

.hidden {
  display: none;
}

.checkout-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
}

/* LOGIN CENTERING */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
  width: 320px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 100%;
}
